<div class="navbar" [class.dark-mode]="themeService.isDarkMode">
    <div class="logo"><embed src="..\assets\web logo.svg"></div>
    <div class="navbar-links">
        <button mat-button color="primary" class="link-button" routerLink="scrape">Scrape</button>
        <button mat-button color="primary" class="link-button" routerLink="lists">My Lists</button>
        <button mat-button color="primary" class="link-button" routerLink="account">My Account</button>
    </div>
    <div class="navbar-profile">
        <mat-icon>light_mode</mat-icon>
        <mat-slide-toggle [checked]="isDarkMode" (change)="toggleDarkMode()"></mat-slide-toggle>
        <mat-icon>dark_mode</mat-icon>
        <button mat-button color="accent" class="profile-button">Sign Out</button>
    </div>
</div>
<div [@fadeAnimation]="o.isActivated ? o.activatedRoute : ''">
    <router-outlet #o="outlet"></router-outlet>
</div>