.navbar{
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    vertical-align: middle;
    height: 80px;
    width:100%;
}

.navbar .navbar-links{
    width: 80%;
}
.navbar .navbar-profile{
    width: 20%;
    text-align: right;
}

.navbar .link-button{
    height: 100%;
    width: 20%;
}

.navbar .profile-button{
    height: 100%;
    width: 40%;
}

.navbar .logo{
    padding:10px 2% 10px 2%;
}

.navbar img{
    object-fit: contain;
    height:100%;
}