.scrape-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.dark-mode{
  background-color: rgb(50, 50, 50);
  color: white;
}

.header {
  width: 80%;
  max-width: 800px;
  align-items: center;
  padding: 10px;
}

.scrape-button{
  border-radius: 100px;
  height: 40px;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.dark-mode .scrape-button{
  border-radius: 100px;
  height: 40px;
  transition: background-color 0.5s ease, color 0.5s ease;
  background-color:#1a73e8;
}

.search-area {
  display: flex;
  align-items: center;
}

.logo{
  width:450px;
  padding-top: 50px;
  padding-bottom: 20px;
  align-items: center;
}

input[type="text"] {
  margin-right: 10px;
  width: 100%;
  height:40px;
  border-radius: 100px;
  padding: 0px 24px;
  border: 2px solid #ccc;
  outline: none;
}
input[type="text"]{
  background-color: white;
  transition: background-color 0.5s ease, color 0.5s ease;
}
.dark-mode input[type="text"]{
  background-color: rgb(70, 70, 70);
  color: white;
}
.dark-mode input[type="text"]::placeholder{
  color: rgb(161, 161, 161);
}

#scrape {
  padding: 10px 20px;
}

h2 {
  margin: 0;
  padding: 0;
}

.results {
  width: 80%;
  max-width: 800px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  padding: 20px;
}

.result-item {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.dark-mode .results {
  background-color: rgb(70, 70, 70);
}

.title-and-star {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.stars {
  color: #1a73e8;
  font-size: 2em;
  transition: background-color 0.5s ease, color 0.5s ease;
}
.dark-mode .stars {
  color: #4a99ff;
  font-size: 2em;
}

.title {
  color: #1a73e8;
  text-decoration: none;
  font-weight: bold;
  margin-left: 10px;
  flex-grow: 1;
  transition: background-color 0.5s ease, color 0.5s ease;
}
.dark-mode .title {
  color: #73b0ff;
  text-decoration: none;
  font-weight: bold;
  margin-left: 10px;
  flex-grow: 1;
}

.dark-mode .details-link{
  color: #73b0ff;
}